@use 'src/assets/styles/fonts' as *;

.wrapper {
    padding: 8px 12px;
    white-space: nowrap;
    background-color: var(--primary-text-color);
    transition: var(--transition);

    @include default-medium;

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }

    &.empty {
        padding: 2px;
        color: var(--primary-text-color);
        background-color: transparent;

        &:hover {
            color: var(--secondary-special-color);
        }
    }

    &.filled {
        color: var(--main-color);
        border-radius: var(--radius-x1);
        
        &:hover {
            background-color: var(--primary-text-color-hovered);
        }
    }

}