.wrapper {
    display: flex;
    gap: 16px;
    align-items: flex-end;

    padding: 8px;

    background-color: rgb(236, 236, 236);
    border-radius: var(--radius-x1);

    & > button {
        height: fit-content;
    }

    & > label {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & > span {
            display: block;
            padding: 4px;
            color: var(--primary-text-color);
        }

        & > fieldset {
            display: flex;
            gap: 4px;

            padding-bottom: 0;
            padding-inline: 0; 

            border: none;
        }
    }
}

.toggleBtn {
    width: fit-content;
}

.headingBtns {
    display: flex;
    justify-content: space-between;
}