@use 'src/assets/styles/fonts' as *;

.wrapper {
    @inlcude default-small;
    
    padding: 8px 12px;

    border: 1px solid var(--text-color);
    border-radius: var(--radius-x2);
    outline: none;

    transition: var(--transition);
    
    &:focus {
        border: 1px solid var(--primary-text-color);
        transition: var(--transition);
    }
}